.app {
  --color-yellow: #fbd304;
  --color-green: #0f707c;
  --color-light-green: #10ad8f;
  --color-red: #d9174a;
  --color-beige: #fbdfc7;
  --color-light-beige: #faefe6;
  font-family: Georgia,Times New Roman,Times,serif;
}

.header__title {
  color: var(--color-green);
  font-family: League Gothic,Arial Narrow,Arial,sans-serif;
  margin: 0;
  padding: 16px;
}

.header__img {
  width: 300px;
  margin-top: 30px;
} 

.header {
  text-align: center;
  background-color: var(--color-yellow);
}

.search_form {
  text-align: center;
  background-color: var(--color-yellow);
  padding: 15px 0;
}

.body {
  min-height: calc(100vh - 460px);
  text-align: center;
  background-color: var(--color-light-beige);
  padding: 30px 0;
  color: var(--color-green);
}

.body__link {
  text-decoration: underline;
}

.loading {
  width: 300px;
}

.product_card {
  margin: 20px;
  list-style: none;
  background-color: white;
  display: inline-block;
  width: 250px;
  height: auto;
}

.search_result_list {
  margin: 0;
}
.product_card__img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.product_card__img_container {
  width: 180px;
  height: 180px;
  margin: 20px auto auto auto;
  position: relative;
}

.product_card__button {
  margin-bottom: 20px;
}

.product_card__button,
.search_form__button {
  cursor: pointer;
  background-color: var(--color-light-green);
  border: none;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
}

.product {
  background-color: white;
  width: 75%;
  margin: auto;
  padding: 30px;
}

.product__name,
.product__text {
  margin: 0;
  padding: 15px;
}

.product__label {
  color: var(--color-green);
  display: block;
  padding: 10px;
  font-weight: bold;
} 

.search_form__input {
  padding: 10px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 0;
}

.search_form__button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 10px;
  margin: 0;
}

.product_card__button:hover,
.product_card__button:active {
  background-color: var(--color-green);
}

.product_card__text {
  color: var(--color-light-green);
  padding: 0 10px;
  height: 48px; /* petit hack bof pour que les cartes fassent la même hauteur */
}

.footer {
  background-color: var(--color-light-green);
  width: 100%;
  text-align: center;
  padding: 16px;
  color:white;
  font-size: 12px;
}

.footer a {
  text-decoration: underline;
}